<html>
<head>
<style>
.login-form {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  margin-bottom: 15px;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  border: 0;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.login-form input[type="submit"]:hover {
  background-color: #222;
}
</style>
</head>
<body>

  {% block content %}
  <div class="media-body">
      <form method="POST" action="">
          {{ form.hidden_tag() }} 
          <fieldset class="form-group">
              <legend >Join The Community</legend>
              <div class = "form-group">
                  {{form.username.label(class="form-control-label")}}
  
                  {% if form.username.errors %}
                  {{form.username(class="form-control form-controol-lg is-invalid")}}
                  
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                          <span>{{error}}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                      {{form.username(class="form-control form-controol-lg")}}
                  {% endif %}
  
                  
              </div>
              <div class = "form-group">
                  {{form.password.label(class="form-control-label")}}
                  {{form.password(class="form-control form-controol-lg")}}
              </div>
              <div class = "form-group">
                  {{form.password_confirm.label(class="form-control-label")}}
                  {{form.password_confirm(class="form-control form-controol-lg")}}
              </div>
              <div class = "form-group">
                  {{form.email.label(class="form-control-label")}}
                  {{form.email(class="form-control form-controol-lg")}}
              </div>
              
          </fieldset>
          <div class = "form-group">
              {{form.submit(class='button-39')}}
          </div>
      </form>
  </div>
  <div >
      <small class = "text-muted">
          Already Registered? 
          <a class="ml-2" href="{{url_for('login')}}"> 
          Log in
      </small>
  
  </div>
  {% endblock content%}

</body>
</html>
